$font-default: Arial, Helvetica, sans-serif;
$font-default-2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-roboto: "Roboto", sans-serif;
$color-icons-dark: #606060;
$color-icons-light: #909090;
$breakpoint-show-sidebar: 792px;
$breakpoint-show-search-box: 656px;
// $breakpoint-videos-1-col: 496px;
$breakpoint-videos-2-col: 496px;
$breakpoint-videos-3-col: 872px;
$breakpoint-videos-4-col: 1128px;
$breakpoint-videos-5-col: 1952px;
$breakpoint-videos-6-col: 2288px;
$breakpoint-categories-max-width: 1488px;

@mixin mQ($pixel) {
  @media screen and (min-width: $pixel) {
    @content;
  }
}

@mixin icon-size {
  height: 24px;
  width: 24px;
}
