*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.nav {
  border-bottom: 1px solid lightgray;
}

.nav__inner-container {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 56px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__left {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav__left .menu-icon {
  padding: 0.5rem;
}

.nav__left .tooltip-icon-youtube {
  position: relative;
  width: 80px;
  height: 20px;
  margin: auto 1rem;
}

.nav__left .tooltip-icon-youtube span {
  position: absolute;
  top: -8px;
  right: -23px;
  font-size: 0.6rem;
  color: #606060;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav__left .icon-youtube {
  width: 90px;
  height: 20px;
  margin: auto 1rem;
  cursor: pointer;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.nav__middle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-mic {
  display: none;
}

@media screen and (min-width: 656px) {
  .icon-mic {
    display: block;
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    color: #606060;
  }
}

.nav__search-box {
  display: none;
}

@media screen and (min-width: 656px) {
  .nav__search-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 640px;
  }
  .nav__search-box input {
    border: 0.2px solid lightgray;
    padding: 1px 2px;
    padding-left: 12px;
    border-right: transparent;
    height: 30px;
    width: 100%;
    border-radius: 0;
  }
  .nav__search-box input::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    font-size: 1rem;
  }
  .nav__search-box input:-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    font-size: 1rem;
  }
  .nav__search-box input::-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    font-size: 1rem;
  }
  .nav__search-box input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    font-size: 1rem;
  }
}

.nav__search-box button {
  border: 0.2px solid lightgray;
  width: 72px;
  height: 30px;
  padding: 1px 6px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  background-color: #f8f8f8;
}

.nav__search-box button:hover {
  background-color: #f0f0f0;
}

.nav__search-box button:hover .icon-search {
  color: #606060;
}

.nav__search-box button .icon-search {
  color: gray;
  font-size: 20px;
}

.nav__right {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__right a {
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: #606060;
  margin-right: 0.5rem;
}

.nav__right-hide {
  display: none;
}

.nav__right .avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
}

@media screen and (min-width: 429px) {
  .nav__right-hide {
    display: block;
  }
}

@media screen and (min-width: 656px) {
  .nav__right .icon-search-right,
  .nav__right .icon-mic-right {
    display: none;
  }
}

.categories {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.categories-inner-container {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  padding-left: 1.5rem;
  overflow: hidden;
  max-width: 1488px;
  justify-self: 1488px;
}

@media screen and (min-width: 792px) {
  .categories-inner-container {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1313px) {
  .categories-inner-container {
    padding-left: 16rem;
  }
}

@media screen and (min-width: 1488px) {
  .categories-inner-container {
    margin: 0 auto;
  }
}

.categories-tag {
  border: 1px solid lightgray;
  background-color: #f2f2f2;
  color: #4f4f4f;
  border-radius: 90000px;
  margin: 12px 12px 12px 1px;
  padding: 0.3rem 0.8rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  word-wrap: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.categories-tag:hover {
  background-color: #ddd;
}

.categories .active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}

.categories .active:hover {
  background-color: #909090;
}

.sidebar {
  display: none;
  z-index: 10;
  height: 100vh;
  padding-bottom: 56px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.sidebar__large-screen, .sidebar__hidden {
  display: none;
}

@media screen and (min-width: 792px) {
  .sidebar {
    width: 72px;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #fff;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sidebar__container {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 14px;
    cursor: pointer;
  }
  .sidebar__container:hover {
    background-color: #f2f2f2;
  }
  .sidebar__icon {
    color: #606060;
  }
  .sidebar__active {
    color: red;
  }
  .sidebar p {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 1313px) {
  .sidebar {
    width: 240px;
    min-height: 100vh;
  }
  .sidebar__large-screen {
    display: block;
  }
  .sidebar__section {
    border-bottom: 1px solid lightgray;
    padding: 1rem 0;
  }
  .sidebar__section > p {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: left;
    padding: 8px 24px;
    text-transform: uppercase;
    color: #606060;
  }
  .sidebar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    padding: 0 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__container i {
    margin-right: 24px;
  }
  .sidebar__container p {
    font-size: 14px;
    color: #030303;
  }
  .sidebar__active {
    font-weight: 500;
    background-color: #e5e5e5;
  }
  .sidebar__avatar {
    height: 24px;
    border-radius: 50%;
    margin-right: 24px;
  }
}

.videos {
  background-color: #f9f9f9;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.videos__cards {
  position: absolute;
  min-width: 100%;
  max-width: 100vw;
  min-height: calc(100% - 112px);
  top: 112px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 496px) {
  .videos__cards {
    -ms-grid-columns: (minmax(240px, 320px))[2];
        grid-template-columns: repeat(2, minmax(240px, 320px));
  }
}

@media screen and (min-width: 792px) {
  .videos__cards {
    min-width: calc(100% - 72px);
    left: 72px;
  }
}

@media screen and (min-width: 872px) {
  .videos__cards {
    -ms-grid-columns: (minmax(240px, 320px))[3];
        grid-template-columns: repeat(3, minmax(240px, 320px));
  }
}

@media screen and (min-width: 1128px) {
  .videos__cards {
    -ms-grid-columns: (minmax(240px, 320px))[4];
        grid-template-columns: repeat(4, minmax(240px, 320px));
  }
}

@media screen and (min-width: 1313px) {
  .videos__cards {
    min-width: calc(100% - 240px);
    left: 240px;
  }
}

@media screen and (min-width: 1952px) {
  .videos__cards {
    -ms-grid-columns: (minmax(240px, 320px))[5];
        grid-template-columns: repeat(5, minmax(240px, 320px));
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    max-width: 2256px;
  }
}

@media screen and (min-width: 2288px) {
  .videos__cards {
    -ms-grid-columns: (minmax(240px, 320px))[6];
        grid-template-columns: repeat(6, minmax(240px, 320px));
  }
}

.videos__card {
  min-width: 240px;
  max-width: 320px;
  min-height: 229px;
  max-height: 274px;
  margin: 20px 8px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

@media screen and (min-width: 1128px) {
  .videos__card {
    max-width: 360px;
    max-height: 299px;
  }
}

@media screen and (min-width: 1952px) {
  .videos__card {
    min-width: 320px;
    min-height: 300px;
  }
}

.videos__card:hover .icon-more {
  opacity: 1;
}

.videos__card:hover .videos__card-time {
  opacity: 0;
}

.videos__card-img-container {
  position: relative;
}

.videos__card-img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.videos__card-time {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4px;
  padding: 2px 6px;
  background-color: black;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
}

.videos__card-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.videos__card-avatar {
  margin-top: 12px;
  width: 36px;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 4px;
  padding-top: 0;
}

.videos__card-info-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-left: 1rem;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videos__card-author {
  color: #606060;
}

.videos__card-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #606060;
}

.videos__card-years {
  padding-left: 8px;
}

.videos__card-title {
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 500;
}

.videos__card .icon-more {
  margin-top: 12px;
  opacity: 0;
  color: #909090;
}
/*# sourceMappingURL=styles.css.map */